h1 {
	text-align:center;
}

table {
	margin:0 auto;
}

td,th {
	padding:15px;
}

#header {
	font-family:Arial;
	font-size:18pt;
	color:grey;
}

#main {
	width: 200px;
}
	
.button2SS, .button8SS, .button10SS, .button16SS {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 43px;
	padding: 50px 0;
	border-radius: 50%;
	transition: 1s;
}

.button2SS {
	background: black;
	color: white;
}

.button8SS {
	background: aqua;
	color: black;
}

.button10SS {
	background: Peru;
	color: white;
}

.button16SS {
	background: green;
	color: white;
}

.button2SS:hover {
		background: coral;
		color: black;
		transform: scale(1.2) rotate(-360deg);
	}
	
.button8SS:hover {
	background: blue;
	color: white;
	transform: scale(1.2);
}
	
.button10SS:hover {
	background: crimson;
	color: blue;
	transform: scale(-1.2) rotate(540deg);
}
	
.button16SS:hover {
	background: maroon;
	color: yellow;
	transform: scale(1.2) rotate(1080deg);
}